language: node_js
node_js:
- stable
dist: trusty
sudo: false

notifications:
  email: false

branches:
  only:
  - dev

cache:
  directories:
    - node_modules

script:
  - npm install
  - npm run build
  - npm run compress

deploy:
  provider: pages
  github_token: $GITHUB_TOKEN
  skip_cleanup: true
  keep-history: true
  local_dir: public/
  target-branch: master
  on:
    branch: dev
